<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer Rating Platform</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <div class="container">
        <form>
            <h1>Lecturer Rating Platform</h1>
            <input type="text" id="firstName" placeholder="Lecturer First Name" required>
            <input type="text" id="lastName" placeholder="Lecturer Last Name" required>
            <input type="number" id="rating" placeholder="Rating out of 10" required>
            <h4>Give comments...</h4>
            <textarea required></textarea>
            <input type="submit" value="Rate" id="button">
        </form>
    </div>
</body>
</html>